body{
    background-color: #bee4ec;
}
*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #92afb5;
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float:right;
    margin: 0, auto;
}
.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #92afb5;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color: #bee4ec;
}
.menu ul ul li {
    float: none;
    border-left: solid 1px #92afb5;
    border-right: solid 1px #92afb5;
    border-bottom: solid 1px #92afb5;

}
label[for="bt_menu"]{
    padding: 5px;
    background-color: #92afb5;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;

}

#bt_menu{
    display: none;
}
.logo{
    float: left;
}
#img-logo-1{
display: block; 
height: 52px;
margin-bottom: -50px;
margin-left: 10px;
}
label[for="bt_menu"]{
    display: none;
}

 
th:hover {
    border-style: solid;
    border-color: #92afb5;
    
  }
  .tabela{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
  }
  .espaco{
   width: 60px;
   background-color: #bee4ec;
   border-color: none;
  }
  .espaco:hover{
      border: none;
  }
  .espaco2{
      height: 30px;
      background-color: #bee4ec;
  }
  th{
      background-color: white;
      border-collapse: initial;
      border-radius: 10px;
      border-color: #bee4ec;
      border-style: solid;
  }
  #rodape {
      position: relative;
      bottom: 0;
      background-color: #92afb5;
      width: 100%;
      height: 10%;
      text-align: center;
  }
  a{
      color: black;
  }
@media(max-width: 500px){
    label[for="bt_menu"]{
        display: block;
    }
    #img-logo-1{
    display: block; 
    height: 60px;
     margin-bottom: 0px;
    }
      .logo{
        float: right;
    }

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-left: -100%;
        transition: all .4s;
       }
    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static ;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
       max-height: 200px;
    }
  